# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\international\react-i18n-typescript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
